/**
* @name reub
* @author reub#8545
* @description Purpleish Theme
* @invite 7zF3ncMPxz
* @version 1.0
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body div,
h1 {
    font-family: 'Inconsolata', monospace;
}

:root {
    --background-primary: rgb(36, 33, 44);
    --background-secondary: rgb(36, 33, 44);
    --background-secondary-alt: rgb(36, 33, 44);
    --background-tertiary: rgb(36, 33, 44);

    --background-floating: rgb(50, 46, 59);
    --channeltextarea-background: rgb(50, 46, 59);

    --background-modifier-hover: rgb(50, 46, 59);
    --background-modifier-selected: rgb(50, 46, 59);

    --scrollbar-thin-thumb: rgb(50, 46, 59);
    --scrollbar-auto-thumb: rgb(50, 46, 59);
    --scrollbar-auto-track: rgb(36, 33, 44);

    --info-warning-foreground: #514077;
    --background-mentioned: #2c2441;

    --brand-experiment: #514077;

    --brand-experiment-560: #463867;
    --brand-experiment-600: #463867;

    --switch-color: #514077;

    --divider-color: #8d72cc;
}

::placeholder,
body,
button,
input,
select,
textarea,
.fontDisplay-1dagSA,
.header-2SF4Nh {
    font-family: 'Inconsolata', monospace;
}

.theme-dark .container-1D34oG {
    background-color: rgb(36, 33, 44);
}

.theme-dark .outer-1AjyKL.active-1xchHY,
.theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: rgb(50, 46, 59);
}

.theme-dark .divider-3C88Um,
.peopleListItem-2nzedh,
.activityPanel-28dQGo,
.container-1giJp5,
.scroller-2ZPeAD,
.divider-JfaTT5,
.wrapper-3D2qGf {
    border: none;
}

.header-2V-4Sw,
.headerBar-1YYOfi:before,
.libraryHeader-3g95kE:before,
.tabBody-3YRQ8W:before,
.content-yTz4x3:before,
.searchBar-6Kv8R2 {
    box-shadow: none;
}

.embedFull-2tM8-- {
    background-color: rgb(50, 46, 59);
}

.circleIconButton-hZmpE8 {
    color: white;
}

.circleIconButton-hZmpE8:hover {
    background-color: rgb(50, 46, 59);
}

.wrapper-2qzCYF.minimum-28Z35l {
    border-radius: 8px 0 8px 9px !important;
}

.colorable-1bkp8v.primaryDark-3mSFDl {
    background: #463867;
}

.colorable-1bkp8v.primaryDark-3mSFDl.active-1QRrIS,
.colorable-1bkp8v.primaryDark-3mSFDl:hover {
    background-color: var(--background-modifier-hover);
}


.clickable-1JJAn8:active .layout-2DM8Md {
    background-color: var(--background-modifier-selected);
}



.wordmarkWindows-1v0lYD.wordmark-2iDDfm {
    display: none;
}

.winButtonMinMax-PBQ2gm.winButton-iRh8-Z.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs {
    display: none;
}

.root-217Brm,
.root-217Brm.idle-1j3olu {
    box-shadow: none;
    background-color: rgb(36, 33, 44);
}

.clickable-25tGDB .header-2V-4Sw,
.selected-31Nl7x .header-2V-4Sw {
    border-radius: 8px;
}

.expandedFolderIconWrapper-3fmTfW svg {
    color: #8d72cc !important;
}

.folderIconWrapper-1Ml_1q {
    background-color: #322e3b !important;
}

.layout-2DM8Md {
    border-radius: 8px;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: var(--background-modifier-hover);
}



/** BANNER **/

.popoutBannerPremium-1n96gg,
.popoutBanner-19WKGg {
    height: 160px;
}

.avatarPositionNormal-aZjAsn {
    top: 20%;
}

.input-cIJ7To {
    border-radius: 8px;
    border: 1px solid transparent;
}

.input-cIJ7To:hover {
    border-color: transparent;
}

.divider-ewBQKj {
    display: none;
}

.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica {
    transition: all .3s ease;
    border-radius: 0 8px 8px 0;
}

.message-2qnXI6.cozyMessage-3V1Y8y.mentioned-xhSam7.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica:hover {
    background-color: #3e315a;
}

.message-2qnXI6.cozyMessage-3V1Y8y.wrapper-2a6GCs.cozy-3raOZG.zalgo-jN1Ica:hover {
    border-radius: 8px;
}